<div class="box">
    <div class="footer">s
        <div class="left">
            <div>联系电话</div>
            <div>联系电话联系电话联系电话联系电话联系电话联系电话联系电话联系电话联系电话联系电话联系电话联系电话联系电话联系电话</div>
        </div>
        <div class="center">
            <div>fsdfsf</div>
        </div>
        <div class="right">
            <div>联系电话</div>
            <div>联系电话</div>
            <div>联系电话</div>
        </div>
    </div>
</div>

<style>
.footer{display:flex;}
.footer .left{width:30%;}
.footer .center{width:40%;}
.footer .right{width:30%;}
</style>

<style>
body{margin:0;}
*{box-sizing:border-box;font-size:14px;}
</style>
</body>
</html>